.header {
  padding: 10px;
}

.logo {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

a.logo {
  color: black;
}

.orderOptions {
  padding: 10px;
  margin: 10px;
}
